<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.MessageInfoMapper">

    <!-- 分页查询消息 -->
    <select id="queryMessagePage" resultType="java.util.LinkedHashMap">
        SELECT
        mi.id,
        mi.send_user AS sendUser,
        mi.take_user AS takeUser,
        mi.content,
        mi.create_date AS createDate,
        ui1.name AS sendUserName,
        ui1.images AS sendUserAvatar,
        ui2.name AS takeUserName,
        ui2.images AS takeUserAvatar
        FROM
        message_info mi
        LEFT JOIN staff_info ui1 ON ( ui1.id = mi.send_user )
        LEFT JOIN staff_info ui2 ON ( ui2.id = mi.take_user )
        WHERE
        1 = 1
        <if test="messageInfo.sendUserName != null and messageInfo.sendUserName != ''">
            AND ui1.name LIKE CONCAT('%',#{messageInfo.sendUserName},'%')
        </if>
        <if test="messageInfo.takeUserName != null and messageInfo.takeUserName != ''">
            AND ui2.name LIKE CONCAT('%',#{messageInfo.takeUserName},'%')
        </if>
        ORDER BY
        mi.create_date DESC
    </select>

    <!-- 查询消息信息 -->
    <select id="messageListById" resultType="java.util.LinkedHashMap">
        SELECT mi.send_user   AS sendUser,
               mi.take_user   AS takeUser,
               mi.content,
               mi.create_date AS createDate,
               ui1.name  AS sendUserName,
               ui1.images     AS sendUserAvatar,
               ui2.name  AS takeUserName,
               ui2.images     AS takeUserAvatar
        FROM (SELECT *
              FROM message_info
              WHERE create_date IN (SELECT MAX(create_date)
                                    FROM message_info
                                    WHERE take_user = #{ userId }
                                       OR send_user = #{ userId }
                                    GROUP BY CONCAT(
                                                     IF
                                                         (send_user &gt; take_user, send_user, take_user),
                                                     IF
                                                         (send_user &lt; take_user, send_user, take_user)))
              ORDER BY create_date DESC) mi
                 LEFT JOIN staff_info ui1 ON (ui1.id = mi.send_user)
                 LEFT JOIN staff_info ui2 ON (ui2.id = mi.take_user)
        ORDER BY mi.create_date DESC
    </select>

    <!-- 查找聊天记录 -->
    <select id="getMessageDetail" resultType="java.util.LinkedHashMap">
        SELECT mi.task_status AS takeStatus,
               mi.send_user   AS sendUser,
               mi.take_user   AS takeUser,
               mi.content,
               mi.create_date AS createDate,
               ui1.name  AS sendUserName,
               ui1.images     AS sendUserAvatar,
               ui1.user_id AS sendUserId,
               ui2.name  AS takeUserName,
               ui2.user_id  AS takeUserId,
               ui2.images     AS takeUserAvatar
        FROM (SELECT *
              FROM message_info
              WHERE send_user = #{ sendUser }
                AND take_user = #{ takeUser }
              UNION
              SELECT *
              FROM message_info
              WHERE send_user = #{ takeUser }
                AND take_user = #{ sendUser }) mi
                 LEFT JOIN staff_info ui1 ON (ui1.id = mi.send_user)
                 LEFT JOIN staff_info ui2 ON (
            ui2.id = mi.take_user
            )
        ORDER BY mi.create_date ASC
    </select>

    <!-- 根据用户编号获取联系人 -->
    <select id="selectContactPerson" resultType="java.util.LinkedHashMap">
        select
        ci.id,
        ci.send_user,
        ci.take_user,
        ci.`task_status`,
        ci.content,
        ci.create_date,
        <if test="flag != null and flag == 1">
            ei2.name,
            ei2.images
        </if>
        <if test="flag != null and flag == 2">
            ei.name,
            ei.images
        </if>
        from
        message_info ci
        <if test="flag != null and flag == 2">
            left join staff_info ei on
            (ei.id = ci.send_user)
        </if>
        <if test="flag != null and flag == 1">
            left join staff_info ei2 on
            (ei2.id = ci.take_user)
        </if>
        where
        1 = 1
        <if test="flag != null and flag == 2">
            and ci.take_user = #{userId}
        </if>
        <if test="flag != null and flag == 1">
            and ci.send_user = #{userId}
        </if>
        <if test="flag != null and flag == 2">
            group by ci.send_user
        </if>
        <if test="flag != null and flag == 1">
            group by ci.take_user
        </if>
        order by
        create_date desc
    </select>

    <!-- 查询聊天记录 -->
    <select id="selectChatList" resultType="java.util.LinkedHashMap">
        select mi.id,
               mi.send_user,
               mi.take_user,
               mi.`task_status`,
               mi.content,
               mi.create_date,
               ei.name    as expertName,
               ei.images  as expertImages,
               ei2.name   as enterpriseName,
               ei2.images as enterpriseImages
        from (select *
              from message_info
              where send_user =
                    #{ expertCode }
                AND take_user = #{ enterpriseCode }) mi
                 left join staff_info ei on
            (ei.id = mi.send_user)
                 left join staff_info ei2 on
            (ei2.id = mi.take_user)
        ORDER BY mi.create_date asc
    </select>
</mapper>
